/.github/ export-ignore
/.github/workflows/*.yml linguist-vendored=false linguist-detectable
/.gitattributes export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore
/.hadolint.yaml export-ignore
/.lycheeignore export-ignore
/.markdownlint-cli2.yaml export-ignore
/.yamllint.yml export-ignore
/.stylelintrc.json export-ignore
/.typos.toml export-ignore
/Dockerfile export-ignore
/eslint.config.js export-ignore
/package-lock.json export-ignore linguist-generated
/phpunit.xml export-ignore
/superglobals.txt export-ignore
/yarn.lock export-ignore linguist-generated
/tests/ export-ignore
