/.github/ export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore
/.yamllint.yml export-ignore
/phpunit.xml export-ignore
/yarn.lock export-ignore
/tests/ export-ignore
