# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "Actions"

on:  # yamllint disable-line rule:truthy
    pull_request: null
    push:
        branches:
        - "master"
    workflow_call: null

permissions: {}  # yamllint disable-line rule:braces
#permissions: "read-all"
#permissions:
#    contents: "read" # Private repositories need read permisson

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    job_count:
        name: "Job count"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v3"
        -
            name: "Display total job count"
            run: |
                Job_count() {
                    git ls-files -z -- '.github/workflows/*.yml' \
                        | xargs --null --max-args=1 -- yq '."jobs" | keys | length' \
                        | paste --serial --delimiters="+" \
                        | bc
                }
                printf ':construction_worker: Total number of jobs: %d' \
                    "$(Job_count)" \
                    >>"${GITHUB_STEP_SUMMARY}"

    actionlint:
        name: "Actionlint"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v3"
        -
            name: "Run actionlint"
            uses: "docker://rhysd/actionlint:latest"
            with:
                args: "-color -verbose -shellcheck ''"
