# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "Commits"

on:  # yamllint disable-line rule:truthy
    pull_request: null
# Add [skip ci] to commit message to skip CI.

permissions:
    contents: "read"

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    commit_authors:
        name: "Commit authors"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 2
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v3"
            with:
                fetch-depth: 0
        -
            name: "Query commit email addresses from GitHub API"
            run: |
                Check_author() {
                    local AUTHOR_EMAIL="$1"
                    local TOTAL_COUNT
                    TOTAL_COUNT="$(gh api search/users --method GET --raw-field q="in:eml ${AUTHOR_EMAIL}" --jq '."total_count"')"
                    echo "${AUTHOR_EMAIL}: ${TOTAL_COUNT}"
                    test "${TOTAL_COUNT}" = 1
                }
                COMMIT_RANGE="${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}"
                git show --no-patch --pretty="format:%ae" "${COMMIT_RANGE}" \
                    | sort --unique \
                    | while read -r AUTHOR; do Check_author "${AUTHOR}"; done
