# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "Markdown"

on:  # yamllint disable-line rule:truthy
    pull_request:
        paths:
        - "**/*.html"
        - "**/*.md"
        - ".lycheeignore"
        - ".markdownlint-cli2.yaml"
    push:
        branches:
        - "master"
        paths:
        - "**/*.html"
        - "**/*.md"
        - ".lycheeignore"
        - ".markdownlint-cli2.yaml"
    workflow_call: null
# Add [skip ci] to commit message to skip CI.

permissions: {}  # yamllint disable-line rule:braces
#permissions: "read-all"
#permissions:
#    contents: "read" # Private repositories need read permission

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    markdown_format:
        name: "Markdown format"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v4.1.5"
        -
            name: "Check Markdown formatting"
            uses: "DavidAnson/markdownlint-cli2-action@v18.0.0"
            with:
                globs: "**/*.md"

    links:
        name: "Links"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 10
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v4.1.5"
        -
            name: "Run Lychee"
            uses: "lycheeverse/lychee-action@v2.0.0"
            with:
                output: "${{ runner.temp }}/lychee/out.md"
                fail: true
