# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "Spelling"
# I take care of your fat fingers and ESL mistakes.

on:  # yamllint disable-line rule:truthy
    pull_request: null
    push:
        branches:
        - "master"
    workflow_call: null

permissions: {}  # yamllint disable-line rule:braces
#permissions: "read-all"
#permissions:
#    contents: "read" # Private repositories need read permission

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    typos_check:
        name: "æ–‡A Typos"
        runs-on: "macos-13"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v3.6.0"
        -
            name: "Search for misspellings"
            run: |
                xcodebuild -showsdks; echo ___
                xcrun --show-sdk-version; echo ___
                xcrun --sdk macosx14.2 --show-sdk-path; echo ___
                xcrun --sdk macosx14.2 --show-sdk-platform-version; echo ___
