# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "Workflow"

on:  # yamllint disable-line rule:truthy
    pull_request: null
    push:
        branches:
        - "master"
    workflow_call: null

permissions: {}  # yamllint disable-line rule:braces
#permissions: "read-all"
#permissions:
#    contents: "read" # Private repositories need read permission

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    job_count:
        name: "Job count"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v4.1.6"
        -
            name: "Display total job count"
            run: |
                Job_count() {
                    git ls-files --cached -z -- '.github/workflows/*.yml' \
                        | xargs --null --max-args=1 -- yq '."jobs" | keys | length' \
                        | paste --serial --delimiters="+" \
                        | bc
                }
                printf ':construction_worker: Total number of jobs: %d' \
                    "$(Job_count)" \
                    >>"${GITHUB_STEP_SUMMARY}"

    run_context:
        name: "Run context"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Dump information about the workflow run"
            run: |
                printf 'github = '
                jq --indent 4 --raw-output --color-output '.' <<"GITHUB__CONTEXT"
                ${{ toJSON(github) }}
                GITHUB__CONTEXT
        -
            name: "Dump information in dot notation"
            run: |
                printf 'github = '
                jq --indent 4 --raw-output --color-output \
                    '[paths(scalars) as $p | {"key":$p | join("."), "value":getpath($p)}] | from_entries' \
                    <<"GITHUB__CONTEXT"
                ${{ toJSON(github) }}
                GITHUB__CONTEXT

    actionlint:
        name: "Actionlint"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v4.1.6"
        -
            name: "Analyze workflow files"
            uses: "docker://rhysd/actionlint:1.6.27"
            with:
                args: "-color -verbose -shellcheck="
