# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "Workflow"

on:  # yamllint disable-line rule:truthy
    pull_request: null
    push:
        branches:
        - "master"
    workflow_call: null

permissions: {}  # yamllint disable-line rule:braces
#permissions: "read-all"
#permissions:
#    contents: "read" # Private repositories need read permission

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    job_count:
        name: "Job count"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v3.5.3"
        -
            name: "Display total job count"
            run: |
                Jobs() {
                    git ls-files -z -- '.github/workflows/*.yml' \
                        | xargs --null --max-args=1 -- yq '"- " + ."name" + " / " + ."jobs"[]."name"'
                }
                printf ':construction_worker: Job list\n%s' \
                    "$(Jobs)" \
                    >>"${GITHUB_STEP_SUMMARY}"

    actionlint:
        name: "Actionlint"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v3.5.3"
        -
            name: "Analyze workflow files"
            uses: "docker://rhysd/actionlint:1.6.25"
            with:
                args: "-color -verbose -shellcheck="
