# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "YAML"

on:  # yamllint disable-line rule:truthy
    pull_request:
        paths:
        - "**/*.yml"
        - "**/*.yaml"
        - "**/*.yml.dist"
        - "**/*.yaml.dist"
    push:
        branches:
        - "master"
        paths:
        - "**/*.yml"
        - "**/*.yaml"
        - "**/*.yml.dist"
        - "**/*.yaml.dist"
    workflow_call: null
# Add [skip ci] to commit message to skip CI.

permissions: {}  # yamllint disable-line rule:braces
#permissions: "read-all"
#permissions:
#    contents: "read" # Private repositories need read permission

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    yaml:
        name: "YAML validity"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 1
        steps:
        -
            name: "Checkout repository"
            uses: "actions/checkout@v4.2.2"
        -
            name: "Cache pip"
            uses: "actions/cache@v4.1.2"
            with:
                path: "~/.cache/pip"
                key: "${{ runner.os }}-pip-yamllint"
        -
            name: "Install yamllint"
            run: |
                pip install --user 'yamllint>=1.29'
        -
            name: "Check YAML formatting"
            run: |
                python -m yamllint --strict ./
